<h1>About us</h1>

<h3>What is Simple CMS</h3>
<p>Simple CMS is a light weight CMS solution to assist small businesses in providing the best possible support to their customers</p>
<%= link_to "Contact us", { action: 'contact', locale: 'us'}%>
<br />
<%= link_to 'Return Home', {action: 'index'} %>