<h1>Contact us</h1>
<%= link_to 'Find out more about us', {action: 'about'} %>
<h3>We would love to hear from you!</h3>
<p>Phone: <%= @contact_number %></p>
<p>Info: <%= mail_to('info@jcmontgomery.com') %></p>