<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Subject</h2>

  <%= form_for(@subject, :url => subjects_path, :method => 'post') do |f| %>
<!-- render will display the partial template using the string (inputting its own _) supplied to partial and locals will provide -->
<!-- any local variable values that the partial might need -->
    <%= render(partial: 'form', locals: {f: f}) %>
    <div class="form-buttons">
      <%= f.submit("Create Subject") %>
    </div>
  <% end %>
</div>
